{{!-- 
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center burgerImg" id="top-bar">
            <img src="assets\img\burger.png" alt="burger" height="200px" />
            <h1> Eat-Da-Burger! </h1>
        </div>
        <div class="col-md-6 text-center" class="task">
            <div class="row">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-md-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}
					</pre>
                    <!-- {{this.Date}} -->
                </div>
                <div class="col-md-3 text-center">
                    <form class="devour-form button-size">
                        <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                        <button type="submit" class="btn btn-default">Devour it!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-6 text-center" class="task">
            {{#each burger_data}}
            {{#if this.devoured}}
            <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <form class= "burgerInput"> 
                <input type="text" class="form-control" name="burger_name" value="" id="newBurger">
                <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a burger you want to eat Click the "Submit" button.</p>
        </div>
    </div>
</div> --}}

<div class="flexbox-container">

    <div class="flexbox-item-1">
        <img src="http://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG4160.png" alt="burgerImg" id="burgerImg">
        <ul id="uneaten">
            <h2> Devoure Burger!!! </h2>
            {{#each burger}}
            {{#unless devoured}}
            {{> burger/burger-block devoured=false}}
            {{/unless}}
            {{/each}}
        </ul>

    </div>

    <div class="flexbox-item-2">

        <img src="http://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG4160.png" alt="burgerImg" id="burgerImg">

        <h2>Eat Da Burger!!!</h2>

        <form class="burgerInput">
            <input type="text" id="newBurger" name="burger_name">
            <div class="flexbox-container">

                <button type="submit" id="burgerBtn">Add Burger</button>

            </div>
        </form>

    </div>
    <div class="flexbox-item-3">
        <img src="http://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG4160.png" alt="burgerImg" id="burgerImg">
        <ul id="eaten">
            <h2>You have devoured this burgers: </h2>
            {{#each burger}}
            {{#if devoured}}
            {{!-- > means you're looking in the partials directory --}}
            {{> burger/burger-block devoured=true}}
            {{/if}}
            {{/each}}
        </ul>

    </div>
</div>